{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}اصلاح گذرواژه - {% endblock %}
{% block user %}{% endblock %}


{% block content %}
<div class="small-container" style="min-height: 60vh;">
	<p class="text-right">لطفا رایانامه خود را وارد کنید تا آدرس اصلاح گذرواژه برای شما ارسال شود:</p>
	<form method="post">
		{% csrf_token %}
		<p>{{ form.email|attr:"dir:ltr"|attr:"class:form-control"|attr:"placeholder:mostafa@sobhe.ir" }}</p>
		<p class="float-right"><input class="btn btn-primary" type="submit" value="اصلاح گذرواژه"></p>
	</form>

	{% if form.errors %}
	<div class="alert alert-danger">خطا در وارد کردن رایانامه.</div>
	{% endif %}
</div>
{% endblock content %}
