{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}ثبت گذرواژه جدید - {% endblock %}
{% block user %}{% endblock %}


{% block content %}
	<div class="small-container">
	<form method="post">
		{% csrf_token %}
		<p><label>گذرواژه کنونی</label>{{ form.old_password|attr:"type:password"|attr:"dir:ltr"|attr:"class:form-control" }}{{ form.errors.old_password }}</p>
		<p><label>گذرواژه جدید</label>{{ form.new_password1|attr:"type:password"|attr:"dir:ltr"|attr:"class:form-control" }}{{ form.errors.new_password1 }}</p>
		<p><label>تکرار گذرواژه</label>{{ form.new_password2|attr:"type:password"|attr:"dir:ltr"|attr:"class:form-control" }}{{ form.errors.new_password2 }}</p>
		<p><input class="btn btn-primary" type="submit" value="ثبت"></p>
	</form>
	</div>
{% endblock %}
