{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}ثبت گذرواژه جدید - {% endblock %}
{% block user %}{% endblock %}


{% block content %}
	<div class="small-container">
	{% if validlink %}
		<form method="post">
			{% csrf_token %}
			<p><label>گذرواژه جدید</label>{{ form.new_password1|attr:"type:password"|attr:"dir:ltr"|attr:"class:form-control" }}{{ form.errors.new_password1 }}</p>
			<p><label>تکرار گذرواژه</label>{{ form.new_password2|attr:"type:password"|attr:"dir:ltr"|attr:"class:form-control" }}{{ form.errors.new_password2 }}</p>
			<p><input class="btn btn-primary" type="submit" value="ثبت"></p>
		</form>
	{% else %}
		<p class="alert alert-danger text-justify">آدرسی که برای اصلاح گذرواژه استفاده شده، معتبر نیست. اگر قبلا از این آدرس استفاده کرده‌اید باید دوباره برای اصلاح گذرواژه اقدام کنید.</p>
	{% endif %}
	</div>
{% endblock %}
