{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/calendar/calendar.css?{% now "U" %}">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="/static/calendar/calendar.js?{% now "U" %}"></script>
{% endblock %}

{% block toplinks %}
    {% for organization in organizations %}
        | <a href="{% url 'employee' organization.slug %}"><span class="fa fa-home"></span> {{ organization }}</a>
    {% endfor %}
    {% if user.is_superuser %}
        | <a href="{% url 'calendar' %}"><span class="fa fa-calendar"></span> تقویم</a>
    {% endif %}
{% endblock %}


{% block content %}

    <div id="calendar" class="container number">
        <div class="calender"></div>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" id="calenderSelector" name="jalali-date">
            <input type="text" id="calenderSecondarySelector" name="gregorian-date" hidden>
            <input type="text" placeholder="توضیحات" name="description" style="width: 40vmin">
            <input type="submit" value="ثبت" class="btn btn-success float-left submit">
        </form>
        {% if object.count %}
            <br>
            <br>
            <h3 class="float-right">تعطیلات</h3>
            <br>
            <br>
            <div class="col-12">
                {% for item in object %}

                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="work card white-card table-responsive" data-project="{{ work.project.id }}">
                            <div class="info">
                                <span class="duration number float-right">{{ item.date_number }}</span>
                                <span class="float-right">{{ item.description }}</span>
                                <a href="{% url 'calendar-delete' item.id %}"><span class="fa fa-remove" style="color: #ff0000"></span></a>
                            </div>
                        </div>
                    </form>
                {% endfor %}

            </div>
        {% endif %}

    </div>

    <script>

        $(".calender").datepicker({
            altField: "#calenderSelector",
            altSecondaryField: "#calenderSecondarySelector",
            date: "{{ today }}",
        });

        var a = document.querySelectorAll('.day');
        for (var i = 0; i < a.length; i++) {
            a[i].addEventListener('click', test, false);
        }

        function test() {
            console.log("hiiii");
            var g_date = document.getElementById('calenderSecondarySelector');
            console.log(g_date.value);
            if ("{{ object }}".indexOf(g_date.value) >= 0) {
                console.log('&&&&&');
            }
            console.log("{{ object }}");
        }

    </script>
{% endblock %}