{% extends "base.html" %}

{% block toplinks %}
| <a href="{% url 'employee' organization.slug %}"><span class="fa fa-home"></span> {{ organization }}</a>
| <a href="{% url 'employee-notes' organization.slug %}"><span class="fa fa-envelope"></span> پیام‌ها</a>
{% if is_admin %}| <a href="{% url 'organization-hours' organization.slug %}"><span class="fa fa-clock-o"></span> ساعت‌ها</a>{% endif %}
| <a href="{% url 'organization' organization.slug %}"><span class="fa fa-bar-chart"></span> آمار</a>
{% endblock %}


{% block content %}
<div class="container" style="margin-top: 80px;">

	{% if is_admin %}
	<div id="new-note" class="card white-card" style="margin-bottom: 60px;">
		<form action="{% url 'note-create' %}" method="post" class="note-form form-inline">
			<input type="hidden" name="organization" value="{{ organization.id }}">

			<select name="category" class="form-control">
				<option value="success" class="alert-success">سبز</option>
				<option value="info" class="alert-info">آبی</option>
				<option value="warning" class="alert-warning">زرد</option>
				<option value="danger" class="alert-danger">قرمز</option>
			</select>
			<select name="employee" class="form-control">
				<option value="" class="">...</option>
				{% for employee in organization.ordered_employees.all %}
				<option value="{{ employee.id }}">{{ employee.last_name }}</option>
				{% endfor %}
			</select>
			<input maxlength="255" name="content" type="text" value="" class="form-control" placeholder="پیام">
			<a href="#" class="btn btn-success pull-left submit"><span class="glyphicon glyphicon-ok"></span> ثبت</a>
			<input name="date" type="text" value="{{ today }}" class="form-control number text-center" pattern="[1۱][34۳۴][0-9۰-۹][0-9۰-۹]/[0-1۰-۱]?[0-9۰-۹]/[0-3۰-۳]?[0-9۰-۹]" required>
		</form>
	</div>
	{% endif %}

	<div class="notes">
	{% if not notes and not is_admin %}
		<div class="alert alert-info"><p><span class="glyphicon glyphicon-sunglasses" style="margin-left: 5px"></span> پیامی برای شما ثبت نشده است.</p></div>
	{% endif %}

	{% for note in notes %}
		<div class="note card alert-{{ note.category }}" data-id="{{ note.id }}" data-date="{{ note.date_number }}" data-category="{{ note.category }}" data-content="{{ note.content }}" data-employee="{{ note.employee.id }}">
			<div class="info">
				{% if is_admin %}
				<a href="" class="edit pull-left"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="" class="email pull-left"><span class="glyphicon glyphicon-envelope"></span></a>
				<span class="employee">{{ note.employee.last_name|default_if_none:'...' }}</span>
				{% endif %}
				<div class="content">{{ note.content_html|safe }}</div>
				<span class="date">{{ note.date_text }}</span>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock content %}


{% block script %}
<script type="text/javascript">

	$('a.edit').click(function() {
		$('.info').show();
		$('.notes form').hide();
		item = $(this).parent().parent();
		item.find('.info').hide()

		noteId = item.attr('data-id');
		noteDate = item.attr('data-date');
		noteCategory = item.attr('data-category');
		noteContent = item.attr('data-content');;
		noteEmployee = item.attr('data-employee');

		item.append($('#new-note').html());
		item.find('form').attr('action', "{% url 'note-update' 55555 %}".replace('55555', noteId));
		item.find('[name=date]').val(noteDate);
		item.find('[name=content]').val(noteContent);
		item.find('[name=category]').val(noteCategory).change();
		item.find('[name=employee]').val(noteEmployee).change();

		item.find('[name=content]').width(item.find('[name=content]').width()-80);
		item.find('form').append('<a href="' + "{% url 'note-delete' 55555 %}".replace('55555', noteId) + '" class="btn btn-danger pull-left delete"><span class="glyphicon glyphicon-remove"></span> حذف</a>');

		return false;
	});

	$('a.email').click(function() {
		item = $(this).parent().parent();
		noteId = item.attr('data-id');
		employeeName = item.find(".employee").text();

		if (confirm("متن پیام برای «"+ employeeName +"» ارسال شود؟")) {
			$.get("{% url 'note-email' 55555 %}".replace('55555', noteId), function(message) {
				if (message != "sent") {
					console.log(message);
					alert("خطا در ارسال پیام برای «"+ employeeName +"»!");
				}
			});
		}

		return false;
	});

	$(document).on('input', 'input[name=date]', function(e) {
		input = e.target;
		if (!input.checkValidity())
			$(input).addClass('error');
		else
			$(input).removeClass('error');
	});

	$(document).on('click', 'a.submit', function() {
		form = $(this).parent();
		form.submit();
		return true;
	});

	$(document).on('click', 'a.delete', function() {
		if (confirm('می‌خواهید این ردیف را حذف کنید؟'))
			return true;
		return false;
	});

	$(document).on('change', 'select[name=category]', function() {
		$(this).attr('class', 'form-control ' + $(this).find('option:selected')[0].className);
	});
	$('select[name=category]').change();

</script>
{% endblock %}
