{% extends "base.html" %}

{% block toplinks %}
    | <a href="{% url 'employee' organization.slug %}"><span class="fa fa-home"></span> {{ organization }}</a>
    | <a href="{% url 'employee-notes' organization.slug %}"><span class="fa fa-envelope"></span> پیام‌ها</a>
    | <a href="{% url 'organization-hours' organization.slug %}"><span class="fa fa-clock-o"></span> ساعت‌ها</a>
    | <a href="{% url 'organization' organization.slug %}"><span class="fa fa-bar-chart"></span> آمار</a>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 40px; min-height: 80vh;">
        <div class="row">
            {% if works.count %}
                <h2>آخرین ساعت‌ها</h2>
            {% endif %}
            <div class="works col-12">
                {% for work in works %}
                    <div class="work card white-card table-responsive" data-id="{{ work.id }}" data-date="{{ work.date_number }}"
                         data-project="{{ work.project.id }}">
                        <div class="info">
                            <span class="duration number float-right">{{ work.duration_text }}</span>
                            <span class="date number float-right">{{ work.date_text }}</span>
                            <span class="project badge float-right"
                                  style="background-color: {{ work.project.color }}">{{ work.project.title }}</span>
                            <span class="description float-right">{{ work.description }}</span>
                            <a href="{% url 'employee-admin' organization.slug work.employee %}"
                               class="edit badge float-left">{{ work.employee.last_name|default_if_none:'...' }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
