<html lang="en">
<head>
    <title>{% block title %}{% endblock %}عمر</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/main.css?{% now "U" %}">

</head>
<body>

<div class="wrap">
    <div class="container">
        <div id="user" class="row">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" title="خروج"><span class="fa fa-power-off"></span></a> |
                <a href="{% url 'user' %}"><span class="fa fa-user"></span> {{ user.last_name }}</a>
                {% block toplinks %}
                {% endblock %}
            {% else %}
                <a href="{% url 'login' %}"><span class="fa fa-dot-circle-o"></span> ورود</a>
            {% endif %}
        </div>
    </div>

    {% block message %}
        {% if messages %}
            <div class="container">
                <div id="message" style="margin-top: 50px;">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message|safe }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endblock %}

    9999    {% block content %}
{% endblock %}

    <div class="push"></div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


{% block script %}
{% endblock %}

<div class="footer">
    <div class="container">
        <hr>
        <p class="float-right"><a href="http://omr.sobhe.ir/">عمر</a> برف است و آفتاب تموز</p>
    </div>
</div>
</body>
</html>
